.box {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    min-height: 266px;
    margin: 0 auto;
    transition: transform 0.2s ease-out;
    padding: 16px;
    box-sizing: border-box;
}

.box:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
}

.box-num {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #ff9900;
}

.box__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.box__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

@media only screen and (min-width: 1024px) {
    .box {
        max-width: 452px;
        min-height: 401px;
        padding: 20px;
    }
    .box-num {
        font-size: 68px;
        line-height: 79px;
    }
    .box__subtitle {
        font-size: 20px;
        line-height: 23px;
    }
}

@media only screen and (min-width: 1440px) {
    .box {
        max-width: 400px;
        min-height: 421px;
    }
}
