.project {
    margin: 60px 0 0;
    max-width: 1280px;
}

.project__details {
    width: 100%;
    border-radius: 14px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: #fff;
    height: 498px;
}

.project__image {
    max-width: 630px;
    border-radius: 14px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.project__text-wrapper {
    margin: 12px 12px;
    position: relative;
}

.project__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}

.project__subtitle {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #616161;
}

.project__date {
    color: #616161;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.project__link {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ff9900;
    cursor: pointer;
}

.project__link:hover {
    opacity: 0.8;
}

.project__review {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    gap: 10px;
    margin: 10px 0 0;
}

.project__review-card {
    padding: 20px 12px;
    background: #fff;
    border-radius: 14px;
    box-sizing: border-box;
    min-height: 383px;
    position: relative;
}

.project__review-avatar {
    width: 40px;
    height: 40px;
    background: #c4c4c4;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.project__review-text-wrapper {
    margin: 0 0 0 12px;
}

.project__review-title {
    margin: 0 0 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.project__review-subtitle {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #616161;
}

.project__review-heading {
    display: flex;
}

.project__review-content {
    max-width: 566px;
    padding: 32px 20px 0 0;
    margin: 0 0;
}

.project__review-link {
    margin: 20px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ff9900;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.project__review-link:hover {
    opacity: 0.8;
}

.project__review-buttons {
    margin: 60px 0 0;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr;
}

@media only screen and (min-width: 640px) {
    .project__details {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 365px;
        height: 365px;
    }

    .project__review {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px 0 0;
        grid-template-rows: minmax(auto, 442px);
    }

    .project__image {
        min-height: 365px;
    }

    .project__review-card {
        padding: 20px 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .project {
        margin: 80px 0 0;
    }

    .project__text-wrapper {
        margin: 20px 20px;
    }

    .project__review-avatar {
        width: 60px;
        height: 60px;
    }

    .project__review-card {
        min-height: 442px;
    }

    .project__review-text-wrapper {
        margin: 0 0 0 16px;
    }

    .project__review-buttons {
        margin: 80px 0 0;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1440px) {
    .project__text-wrapper {
        margin: 32px;
        position: relative;
    }

    .project__title {
        font-size: 48px;
        line-height: 56px;
    }

    .project__subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    .project__review {
        grid-template-rows: minmax(auto, 378px);
    }

    .project__review-card {
        padding: 32px 32px;
        min-height: 378px;
    }

    .project__review-link {
        bottom: 30;
    }

    .project__review-text-wrapper {
        margin: 0 0 0 24px;
    }
}
